.purp {
    background-color: #4527a0;
}

.arial {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    color: #c0ca33;
}

.hcolor {
    background-color:#291661;
}

